/* --------------------General-------------------- */
@import url("https://fonts.googleapis.com/css2?family=Marvel&display=swap");
body {
  background-color: #1a1b1d;
}
.app {
  position: relative;
}
.button {
  background-color: red;
  border-style: none;
  border-radius: 3px;
  font-family: "Marvel", sans-serif;
  color: white;
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button:hover {
  cursor: pointer;
  font-size: 19px;
  border: 0.1px solid white;
}
button {
  background-color: black;
  border: red solid 1px;
  border-style: solid;
  border-radius: 3px;
  font-family: "Marvel", sans-serif;
  color: white;
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
button:hover {
  cursor: pointer;
  font-size: 19px;
  border: 0.1px solid white;
}
h1 {
  font-family: "Marvel", sans-serif;
  font-size: 40px;
  font-weight: bold;
}
h2 {
  font-family: "Marvel", sans-serif;
  font-size: 20px;
  font-weight: bold;
}
p {
  font-family: "Marvel", sans-serif;
  font-size: 15px;
}
label {
  font-family: "Marvel", sans-serif;
  font-weight: bold;
  font-size: 20px;
}

/* --------------------Header-------------------- */
header {
  height: 90px;
  background-color: #131414;
  border-bottom: red solid 0.1px;
  position: sticky;
  top: 0px;
  z-index: 1;
}
header > div {
  height: 100%;
  margin: 0 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header img {
  height: 60px;
  border-radius: 3px;
}
header > div > div {
  display: flex;
  gap: 30px;
}
header .button {
  height: 35px;
  width: 120px;
}
header button {
  height: 35px;
  width: 120px;
}
.img:hover {
  cursor: pointer;
  border: 5px solid white;
}

/* --------------------Sign-------------------- */
.background {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
}
.sign {
  background-color: white;
  width: 400px;
  border-radius: 5px;
  position: absolute;
  top: 200px;
  left: 460px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 20px;
  gap: 30px;
}
.sign > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sign input {
  height: 30px;
  width: 300px;
  border-style: solid;
  border: none;
  border-bottom: #131414 solid;
}
.sign .xmark {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 30px;
}
.sign .xmark:hover {
  position: absolute;
  cursor: pointer;
  right: 15px;
  top: 15px;
  font-size: 30px;
}
.sign button {
  height: 35px;
  width: 120px;
  background-color: red;
}

/* --------------------Home-------------------- */
.characters > section {
  margin: 0px 90px;
}
.characters > section:first-child {
  display: flex;
  padding: 20px 0px;
  position: sticky;
  background-color: #1a1b1d;
  top: 90px;
  z-index: 1;
  justify-content: space-between;
}
.characters > section:first-child > div {
  display: flex;
  gap: 30px;
}
.characters > section:first-child > div > button {
  width: 130px;
}

.characters > section > input {
  height: 30px;
  width: 500px;
  border-style: none;
  outline: none;
  border-radius: 5px;
  background-color: white;
  padding-left: 35px;
  font-size: 20px;
  font-family: "Marvel", sans-serif;
}
.characters > section > input:target {
  background-color: red;
}
.characters > section > .glass {
  font-size: 20px;
  position: absolute;
  left: 7px;
  top: 25px;
}
.characters > section:last-child {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.characterBox {
  background-color: white;
  width: calc((100% - 75px) / 6);
  height: 273.27px;
  border-radius: 5px;
  position: relative;
}
.characterBox:hover {
  cursor: pointer;
}
.characterBox > img {
  height: 180px;
  width: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: 5px 5px 0px 0px;
  margin-bottom: 5px;
}
.characterBox > h2 {
  margin: 0 10px;
  margin-bottom: 5px;
  max-height: 40px;
  overflow: hidden;
  color: black;
}
.characterBox > p {
  margin: 0 10px;
  height: 30px;
  overflow: hidden;
  margin-bottom: 10px;
}
.heartRed {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: red;
}
.heartWhite {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: white;
}
.heartRed:hover {
  color: red;
}
.heartWhite:hover {
  color: red;
}
.characters h1 {
  color: white;
  font-size: 25px;
}
span {
  color: red;
}
/* --------------------Favoris-------------------- */
.favoris h1 {
  color: white;
  font-size: 25px;
  margin: 10px 0;
}
.favoris > section {
  margin: 0px 90px;
}
.caroussel {
  display: flex;
  flex-wrap: nowrap;
  overflow: scroll;
  gap: 15px;
}
.emptyFav {
  width: 100%;
  display: flex;
  justify-content: center;
}
.emptyFav h2 {
  margin: 111.635px 0;
}
.caroussel > .characterBox {
  flex-shrink: 0;
}
/* --------------------Transition-------------------- */
.loading {
  width: 100vw;
  height: calc(100vh - 90px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.transition {
  height: 40px;
}
.transition > img {
  height: 40px;
}
